.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  & .form-container {
    max-width: 700px;
    border: 1px solid #000;
    padding: 15px;

    & .d-flex {
      display: flex;
    }

    & .align-items-center {
      align-items: center;
    }

    & .notice {
      color: red;
      position: absolute;
      width: 100px;
      padding: 5px;
      border: 1px solid black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #fff;
      top: 0;
      right: -100%;
      z-index: 1;
    }

    & .square {
      margin-left: 4px;
    }

    & .input-item {
      max-width: 100px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    & .input-number {
      max-width: 70px;
    }
  }
}
