@import '~antd/dist/antd.css';
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.form-container{
    max-width: 700px;
    border: 1px solid #000;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.notice{
    color: red;
}
.square{
    margin-left: 4px;
}
.input-item{
    max-width: 100px;
    display: flex;
    flex-wrap: wrap;
}